# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Build Wheels

on:
  workflow_dispatch:
  release:
    types: [created, edited]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-11]

    steps:
      - uses: actions/checkout@v3

      - name: Setup git submodule
        run: git submodule update --init --recursive

      - name: Checkout cmark-gfm
        uses: actions/checkout@v3
        with:
          repository: github/cmark-gfm
          path: cmark-gfm

      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: '3.12'

      - name: Install build deps
        run: |
          python -m pip --disable-pip-version-check install cibuildwheel==2.16.2 twine==4.0.2

      - uses: docker/setup-qemu-action@v1
        if: runner.os == 'Linux'
        name: Set up QEMU

      - name: Build wheels
        run: |
          python -m cibuildwheel --output-dir wheelhouse
          twine check ./wheelhouse/*.whl

      - name: Build sdist
        if: runner.os == 'Linux'
        run: |
          python setup.py sdist
          twine check ./dist/*.tar.gz

      - name: Publish sdist
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        if: ${{ github.event_name == 'release' && runner.os == 'Linux' && env.TWINE_USERNAME != null }}
        run: |
          twine upload --skip-existing ./dist/*

      - uses: actions/upload-artifact@v3
        with:
          path: |
            ./wheelhouse/*.whl
            ./dist/*.tar.gz

      - name: Publish wheels
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        if: ${{ github.event_name == 'release' && env.TWINE_USERNAME != null }}
        run: |
          twine upload --skip-existing ./wheelhouse/*
